services:
  rin_valkey:
    image: valkey/valkey-bundle:latest # Or specify a version like 8.1-bookworm
    container_name: rin_valkey
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/bitnami/valkey/data # For persisting data
    environment:
      - VALKEY_AOF_ENABLED=yes # Enable AOF persistence, or set to 'no' to disable
      - VALKEY_PASSWORD=yourpassword # Set a password for Valkey
    restart: always
    networks:
      - app_network
  rin_postgres:
    build:
      context: .
      dockerfile: docker/postgres.dockerfile
    container_name: rin_postgres
    environment:
      POSTGRES_USER: user_name
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: rin_agent_db
    ports:
      - "5432:5432"
    volumes:
      - rin_pg_data:/var/lib/postgresql/18/data
    restart: always
    networks:
      - app_network
volumes:
  rin_pg_data: 
  valkey_data:

networks:
  app_network:
    driver: bridge